.scrollList {
	display: flex;
	padding-inline: var(--lPadding);
	gap: var(--padding);
	scroll-snap-type: x mandatory;
	scroll-snap-align: start;
	padding-top: 10vw;
	overflow-x: scroll;

	&::-webkit-scrollbar {
		width: 0;
	}

	&[data-type="card"] > div {
		min-height: 57svh;
	}
}