.learned {
	color: var(--learnedColor);
}
.learning {
	color: var(--learningColor);
}
.gonnaLearn {
	color: var(--gonnaLearnColor);
}
.learned,
.learning,
.gonnaLearn {
	font-weight: 700;
}
.avatar {
	display: block;
	border-radius: 100%;
	height: 100%;
	aspect-ratio: 1;
}
.active {
	color: var(--activeColor);

	& svg {
		fill: #999;
	}
}
.empty {
	display: grid;
	place-items: center;

	width: 100%;
	height: 100%;

	> h3 {
		color: #333;
    user-select: none;
	}
}
#searcherBox {
	> div {
		height: 100%;

		> svg {
			height: inherit;
			fill: var(--gonnaLearnColor);
			background-color: var(--bgBlack);
			padding: var(--padding);

			&:last-child {
				border-radius: 0 .7rem .7rem 0;
			}
		}
	}

	#searcher {
		display: flex;
		position: relative;
		font-size: 20px;
		width: 100%;
		border-radius: .7rem;

		> input {
			width: inherit;
			border-radius: inherit;
			padding: var(--padding) var(--lPadding);
			background: var(--bgBlack);
			color: #fff;
			font-size: inherit;
		}

		> svg {
			position: absolute;
			top: 50%;
			right: var(--lPadding);

			height: calc(100% - var(--lPadding) - var(--sPadding));
			translate: 0 -50%;
		}
	}

	&.btnBox {
		display: flex;
		gap: var(--sPadding);

		#searcher {
			border-radius: .7rem 0 0 .7rem;
		}
	}
}
.navbar {
	display: flex;
	justify-content: space-between;
	height: 100%;

	& a {
		display: flex;
		align-items: center;
	}
	& a, svg {
		height: inherit;
	}
}
#filterList {
	display: flex;
	flex-flow: column nowrap;

	height: 100%;
	overflow-y: scroll;

	.item {
		display: flex;
		gap: var(--sPadding);
		height: var(--itemH);
		margin-bottom: var(--padding);

		#main {
			display: -webkit-box;
			background-color: var(--itemBg);
			gap: var(--padding);

			padding: var(--padding);
			border-radius: .375rem;
			width: 100%;

			#name {
				font-size: 20px;
			}
		}
		.navbar {
			gap: inherit;
	
			> div, svg {
				background-color: var(--itemBg);
				padding: var(--sPadding);
				border-radius: 0.375rem;
				height: 100%;
			}
		}
	}
}
main:has(#subject) {
	padding: 0;
}
#subject {
	position: relative;
	overflow-y: scroll;

	> *:not(img, #edit) {
		translate: 0 -5svh;
	}

	#edit {
		position: absolute;
		top: .5svh;
		right: 2.5vw;
		
		> svg {
			width: 10vw;
			stroke: #fff;
			padding: var(--padding);
			border-radius: var(--padding);
			background-color: var(--itemBg);
		}
	}

	> img {
		width: 100%;
		height: 30svh;
		background: #fff url('/addImage.png') 50% 50% no-repeat;
		background-size: 50%;
	}
	#imgLoader {
		display: none;
	}

	.container {
		.navContainer {
			> h2 {
				text-align: center;
				margin-block: var(--lPadding);
			}

			&#learn {
				.card {
					height: 57svh;
				}
			}
			&#tips {
				.card {
					height: 30svh;

					#header {
						font-size: 1.2rem;
					}
					#description {
						font-size: 1rem;
					}
					#example {
						font-size: .9rem;
					}
				}
			}

			.navbar {
				overflow: overlay;
				scroll-snap-type: x mandatory;
				padding-inline: var(--lPadding);
				gap: var(--padding);

				.card {
					display: flex;
					flex-flow: column nowrap;
					min-width: 90vw;
					max-width: 90vw;
					padding: var(--lPadding);
					border-radius: var(--padding);
					background-color: var(--itemBg);
					scroll-snap-align: center;
					scroll-snap-stop: always;
					position: relative;

					&:has(#rightArrow) {
						margin-right: var(--padding);
					}

					#rightArrow {
						position: absolute;
						top: 52.5%;
						right: -2%;
						rotate: -45deg;
						border-radius: var(--sPadding) var(--lPadding);
						background-color: var(--bgBlack);

						> svg {
							height: 10vw;
							padding: var(--padding);
							rotate: 45deg;

							stroke: #fff;
						}
					}

					> select {
						position: absolute;
						top: 0;
						right: 0;
						margin: var(--lPadding);
					}

					& input, select, textarea {
						background-color: transparent;
					}
					& hr {
						border: 1px solid #ffffff15;
						margin-block: var(--padding);
					}
					> p {
						width: 100%;
						min-height: fit-content;
						resize: none;
						
						> span {
							background-color: transparent !important;
							color: #fff !important;
						}
					}

					> input#value {
						font-size: 1.5rem;
						margin-bottom: var(--lPadding);
					}
					> div#value {
						display: flex;

						> select {
							text-align: end;
						}
						> select:disabled {
							/*inset: unset;*/
						}

						#type {
							margin-left: auto;
						}
					}
					#description {
						font-size: 1.2rem;
						margin-bottom: var(--lPadding);
					}
					#example {
						font-size: 1rem;
					}
				}
			}
		}
	}
	#X {
		padding: var(--lPadding);

		> h2 {
			color: var(--accentColor);
			text-align: center;
			margin-bottom: var(--lPadding);
		}

		.navbar {
			margin-bottom: var(--lPadding);

			> span {
				background-color: var(--itemBg);
			}
		}
	}
}