.learned {
	color: var(--learnedColor);
}
.learning {
	color: var(--learningColor);
}
.gonnaLearn {
	color: var(--gonnaLearnColor);
}
.learned,
.learning,
.gonnaLearn {
	font-weight: 700;
}
.avatar {
	display: block;

	img {
		border-radius: 100%;
		height: 100%;
		aspect-ratio: 1;
	}
}
.active {
	color: var(--activeColor);

	& svg {
		fill: #999;
	}
}
.empty {
	display: grid;
	place-items: center;

	width: 100%;
	height: 100%;

	> h3 {
		color: #333;
    user-select: none;
	}
}
.navbar {
	display: flex;
	justify-content: space-between;
	height: 100%;

	& a {
		display: flex;
		align-items: center;
	}
	& a, svg {
		height: inherit;
	}
}