:root {
	--bgBlack: #111;
	--padding: calc(10dvh / 8);
	--lineElHeight: 8%;
}

#root {
	display: flex;
	flex-flow: column nowrap;
	height: 100dvh;
  max-width: 1280px;
  margin: 0 auto;
}
#searcher {
	position: relative;

	> input {
		width: 100%;
    border-radius: 1rem;
    border: none;
    padding: 10px 15px;
    background: var(--bgBlack);
    color: #fff;
    font-size: 20px;
	}

	> svg {
		position: absolute;
    top: 50%;
    right: 10px;
		height: clamp(20px, 10%, 40px);
		width: clamp(20px, 6%, 40px);
		translate: 0 -50%;
	}
}
#filterList {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	overflow-y: scroll;

	> div:not(.empty) {
		display: flex;
		gap: var(--padding);
		margin-bottom: var(--padding);
		height: var(--lineElHeight);
		padding: var(--padding);
		background-color: #00000025;
		border-radius: .375rem;

		> p {
			display: grid;
			place-items: center;
		}
	}
}

@media (prefers-reduced-motion: no-preference) {
  /*.logo {
    animation: logo-spin infinite 20s linear;
  }*/
}

header, .navMenu {
	display: flex;
	justify-content: space-between;
	gap: 5vw;

	height: var(--lineElHeight);
	padding: var(--padding);
	background-color: var(--bgBlack);
	user-select: none;
}
main {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--padding);

	background: #181818;
	height: 84%;
	padding: var(--padding);
}

.avatar {
	height: 100%;
	border-radius: 100%;
	aspect-ratio: 1;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: clamp(10px, 7vw, 100px);

	.active {
		color: #a0c;
	}
}
.navMenu > .navbar {
	width: 100%;

	> a {
		display: flex;
		align-items: center;
		height: 100%;

		> svg {
			height: 100%;
		}
	}

	.active {
		> svg {
			fill: #999;
		}
	}
}

.learned {
	color: #7c10e1;
}
.learning {
	color: #8a2be2;
}
.gonnaLearn {
	color: #9f56e3;
}
.learned,
.learning,
.gonnaLearn {
	font-weight: 700;
}

.empty {
	display: grid;
	place-items: center;

	width: 100%;
	height: 100%;

	> h3 {
		color: #333;
    user-select: none;
	}
}