* {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	text-decoration: 0;
	box-sizing: border-box;
	color: var(--color);
  font-family: system-ui, Helvetica, Arial, sans-serif;
}
:root {
	--color: #ddd;
	--accentColor: #880099;
	--activeColor: #a0c;
	--learnedColor: #7c10e1;
	--learningColor: #8a2be2;
	--gonnaLearnColor: #9f56e3;

	--bgBlack: #111;
	--mainBg: #232323;
	--itemBg: #151515;

	--sPadding: calc(5dvh / 8);
	--padding: calc(10dvh / 8);
	--lPadding: calc(20dvh / 8);
	
	--itemH: 6vh;

	-webkit-tap-highlight-color: transparent;
	user-select: none;
}
img {
	object-fit: cover;
}
svg {
	cursor: pointer;
}

body {
	min-width: 320px;
  height: 100svh;
	background-color: #333;
}
#root {
	display: grid;
	grid-template-rows: 8% 84% 8%;
	height: inherit;
}
header {
	display: flex;
	justify-content: space-between;
	padding: var(--padding) var(--lPadding);

	.navbar {
		gap: var(--lPadding);
	}
}
main {
	display: flex;
	flex-direction: column;
	background-color: var(--mainBg);
	overflow-y: hidden;
}
.navMenu {
	padding: var(--padding) var(--lPadding);
}
header, .navMenu {
	background-color: var(--bgBlack);
}

@media (prefers-color-scheme: light) {
  *:not(.learned, .learning, .gonnaLearn) {
    color: #213547 !important;
    background-color: #ffffff !important;
  }
  a:hover {
    color: #747bff;
  }
}